# Archivos y carpetas generados por Unity
/[Ll]ibrary/
/[Tt]emp/
/[Tt]mp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/

# Archivos de soluciones e IDEs (Visual Studio, Rider, VS Code)
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Configuraciones de IDEs
.vs/
.idea/
.vscode/

# Crash reports de Unity
sysinfo.txt
crashlytics-build.properties

/tmp